* {
    font-family: Source Code Pro;
    font-size: 14px;
    border-radius: 0px;
    min-height: 0px;

    animation: none;
    transition: none;
}

window#waybar {
    background-color: #111111;
    color: #ffffff;
}

#tags button, #workspaces button {
    padding: 0 8px; /* One space character's width */
    min-width: unset;
    background-color: #222222;
    color: #ffffff;
    border: 0;
}

/* Empty tags after the first 6 are not shown */
#tags button:nth-child(n+7) {
    color: rgba(0,0,0,0);
    background: none;
    box-shadow: none;
    border: none;
    margin-right: -1000px; /* Move the extra space offscreen, just to be safe */
}

#tags button.occupied, #workspaces button {
    background-color: #333333;
    color: #ffffff;
    margin: 0px;
}
#workspaces button.persistent {
    background-color: #222222;
    color: #ffffff;
    margin: 0px;
}
#tags button.focused, #workspaces button.focused {
    background-color: #8855ff;
    color: #ffffff;
    margin: 0px;
}
#tags button.urgent, #workspaces button.urgent {
    background-color: #ff6600;
    color: #ffffff;
    margin: 0px;
}

#mode {
    background-color: #8855ff;
    padding: 0 8px 0 8px; /* One space character's width */
}

#window {
    padding-left: 8px; /* One space character's width */
}


#custom-cmus {
    background-color: #333333;
}

#tray {
    padding-left: 8px;
    background-color: #222222;
}

#cpu,
#custom-memory,
#custom-separator,
#pulseaudio,
#battery {
    background-color: #222222;
}

#battery.warning:not(.charging) {
    color: #ff6600;
}
#battery.critical:not(.charging) {
    color: #ee0000;
}

#clock {
    background-color: #8855ff;
}
