[Default-General]
prog_ver=3.4.0
auto_install=FALSE
force_composite=FALSE
cairo_image=TRUE
cairo_balloon=TRUE
cairo_clock=TRUE
magnify=100
ip_style=2
font_clock=Sans 14
font_balloon=Sans 10
cons_check_mode=0
tar_command=tar -zxf %s -C %s

[Default-Move]
relative_x=FALSE
offset=0
offsetp=0
ff_side=1
raise_force=FALSE
raise_kwin=FALSE
autobar2=1
no_capbar=FALSE
bar_size=0
bar_offset=0
homepos_nf=1
homepos_out=0
homepos_nb=0
home_auto=TRUE
home_auto_vanish=FALSE
home_x=0
home_y=0

[Default-Shadow]
flag=TRUE
x=2.30
y=2.30
alpha=40

[Default-Signal]
type=0

[Default-Biff]
type=0
pop-save=TRUE
ssl-mode=0
ssl-cert-skip=FALSE
ssl-nonblock=TRUE
interval=60
win-width=540
win-height=250
spam-check=TRUE
spam-mark=X-Spam-Flag: YES
pop-max-fs=40
tooltips=TRUE

[Default-Duet]
use_click=TRUE
use_random=TRUE

[Default-Sockmsg]
type=0
interval=1
expire_def=5000

[Default-Alpha]
force_def=FALSE
main=100
biff=100

[General]
prog_ver=3.4.0
auto_install=FALSE
force_composite=FALSE
cairo_image=TRUE
cairo_balloon=TRUE
cairo_clock=TRUE
magnify=100
ip_style=0
font_clock=Sans 14
font_balloon=Sans 10
cons_check_mode=0
tar_command=tar -zxf %s -C %s
url_command=xdg-open %s
menu=/home/dareka826/.macopix/default.menu
sound_command=

[Move]
relative_x=TRUE
offset=0
offsetp=0
ff_side=1
raise_force=FALSE
raise_kwin=FALSE
autobar2=1
no_capbar=FALSE
bar_size=0
bar_offset=0
homepos_nf=1
homepos_out=2
homepos_nb=0
home_auto=TRUE
home_auto_vanish=FALSE
home_x=0
home_y=30

[Shadow]
flag=TRUE
x=2.30
y=2.30
alpha=40

[Signal]
type=0

[Biff]
type=0
pop-save=TRUE
ssl-mode=0
ssl-cert-skip=FALSE
ssl-nonblock=TRUE
interval=60
win-width=540
win-height=250
spam-check=TRUE
spam-mark=X-Spam-Flag: YES
pop-max-fs=40
tooltips=TRUE

[Duet]
use_click=TRUE
use_random=TRUE

[Sockmsg]
type=0
interval=1
expire_def=5000

[Alpha]
force_def=FALSE
main=100
biff=100

[BalloonColor]
text_r=4369
text_g=4369
text_b=4369
bg_r=61166
bg_g=61166
bg_b=60652
bg_p=100
border_r=8738
border_g=8738
border_b=8738

[ClockColor]
text_r=4369
text_g=4369
text_b=4369
bg_r=65535
bg_g=65535
bg_b=65535
border_r=8738
border_g=8738
border_b=8738

