! Colors {{{
! special
*.foreground:   #FFFFFF
*.background:   #111111
*.cursorColor:  #FFFFFF

! black
*.color0:       #111111
*.color8:       #444444

! red
*.color1:       #FF0066
*.color9:       #FF0066

! green
*.color2:       #00FF66
*.color10:      #00FF66

! yellow
*.color3:       #FF6600
*.color11:      #FF6600

! blue
*.color4:       #006FFF
*.color12:      #006FFF

! magenta
*.color5:       #7422FF
*.color13:      #7422FF

! cyan
*.color6:       #33EFCF
*.color14:      #33EFCF

! white
*.color7:       #888888
*.color15:      #FFFFFF
! }}}

Xft.dpi: 96
Xft.rgba: none
Xft.hintstyle: full

! XTerm
xterm*decTerminalID: vt340
xterm*numColorRegisters: 256
xterm*font: xft:DejaVu Sans Mono:style=Book:size=11
xterm*utf8: true
xterm*visualBell: false
xterm*renderFont: true
xterm*termName: xterm-256color
xterm*metaSendsEscape: true
xterm*backarrowKey: false
xterm*ttyModes: erase ^?
xterm*saveLines: 8192
xterm*scrollBar: true
xterm*rightScrollBar: true
xterm*scrollBarBorder: 0
xterm*scrollbar.width: 5
xterm*fullscreen: never
xterm*internalBorder: 10
xterm*translations: #override \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus:  larger-vt-font()  \n\
    Ctrl <Key> 0:     set-vt-font(d) \n\
    Shift Ctrl <KeyPress> v: insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)

xterm*scrollKey: true
xterm*scrollTtyOutput: true

xterm*highlightSelection: true
xterm*trimSelection: false

xterm*scrollbar.foreground: #3366ff
xterm*scrollbar.background:   #222222
*bitmapFilePath: /home/rin/.local/share/bitmaps
xterm*scrollbar*thumb: solid

! nsxiv
nsxiv.window.background: #111111
nsxiv.window.foreground: #ffffff
nsxiv.bar.background: #222222
nsxiv.bar.foreground: #ffffff
